<div id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Menüler</div>
				<a class="nav-link" href="/Product/Index">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Ürünler
				</a>


				<a class="nav-link" href="/Customer/Index">
					<div class="sb-nav-link-icon"><i class="fa fa-users"></i></div>
					Müşteriler
				</a>
				<a class="nav-link" href="/Category/Index">
					<div class="sb-nav-link-icon"><i class="fa fa-bicycle"></i></div>
					Kategoriler
				</a>
				<a class="nav-link" href="/Job/Index">
					<div class="sb-nav-link-icon"><i class="fa fa-table"></i></div>
					Meslekler
				</a>
				<a class="nav-link" href="/Job/AddJob">
					<div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
					Yeni Meslek Girişi
				</a>
				<a class="nav-link" href="/Product/AddProduct">
					<div class="sb-nav-link-icon"><i class="fa fa-gift"></i></div>
					Yeni Ürün Girişi
				</a>
				<a class="nav-link" href="/Settings/Index">
					<div class="sb-nav-link-icon"><i class="fa fa-lock"></i></div>
					Şifre İşlemleri
				</a>
				<a class="nav-link" href="tables.html">
					<div class="sb-nav-link-icon"><i class="fa fa-info"></i></div>
					Yardım
				</a>
			</div>
		</div>

	</nav>
</div>