@using EntityLayer.Concrete
@model List<Customer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<table class = "table table-bordered">
    <tr>
        <th>#</th>
        <th>Müşteri Adı</th>
        <th>Şehir</th>
        <th>Meslek</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td>@item.Job.Name</td>
            <td><a href = "/Customer/DeleteCustomer/@item.Id" class = "btn btn-outline-danger"> Sil </a></td>
            <td><a href = "/Customer/UpdateCustomer/@item.Id" class = "btn btn-outline-success"> Güncelle </a></td>
            </tr>
    }
</table>

<a href = "/Customer/AddCustomer/" class ="btn btn-primary">Yeni Müşteri</a>