@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<table class = "table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Stock</td>
            <td><a href = "/Product/DeleteProduct/@item.Id" class = "btn btn-outline-danger"> Sil </a></td>
            <td><a href = "/Product/UpdateProduct/@item.Id" class = "btn btn-outline-success"> Güncelle </a></td>
            </tr>
    }
</table>
<a href = "/Customer/AddCustomer/" class = "btn btn-outline-primary">Yeni Müşteri</a>
