@using EntityLayer.Concrete
@model List<Job>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



<table class = "table table-bordered">
    <tr>
        <th>#</th>
        <th>Meslek Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.JobId</td>
            <td>@item.Name</td>
            <td><a href = "/Job/DeleteJob/@item.JobId" class = "btn btn-outline-danger"> Sil </a></td>
            <td><a href = "/Job/UpdateJob/@item.JobId" class = "btn btn-outline-success"> Güncelle </a></td>
            <td><a href = "/Job/DetailsJob/@item.JobId" class = "btn btn-outline-primary"> Detaylar </a></td>

            </tr>
    }
</table>
<a href = "/Customer/AddCustomer/" class = "btn btn-outline-primary">Yeni Müşteri</a>


